<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmsly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilmsLy">
        <activity android:name=".Results"></activity>
        <activity android:name=".CategoriesView" />
        <activity android:name=".Home" />
        <activity
            android:name=".QuestionThreeActorsAndWhoTheyPlay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FilmsLy.Dark"
            android:windowSoftInputMode="adjustResize"
            android:label="Question Three: Actors and Who They Play"/>
        <activity
            android:name=".QuestionTwoDirectorsAndWriters"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FilmsLy.Dark"
            android:windowSoftInputMode="adjustResize"
            android:label="Question Two: Directors and Writers"/>
        <activity
            android:name=".QuestionOneFamousWords"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FilmsLy.Dark"
            android:windowSoftInputMode="adjustResize"
            android:label="Question One: Famous Words"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>